<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: aliceblue" >
<a href="/">Registration</a>

<h2 style="text-align: center; ">Log In</h2>

<form action="/login" method="post" style="text-align: center">
    <label>Enter email: <input type="email" name="email"></label><br>
    <label>Enter password: <input type="password" name="password"></label><br>
    <input type="submit" name="submit">
</form>

</body>
</html>